# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
backend/vendor/*/
backend/builds/
backend/storage/
# Editor/IDE
.idea/
# docs
docs/
.vscode
storage/
.DS_Store

# Android / tv_client
tv_client/*.apk
tv_client/*.aar
tv_client/*.ap_
tv_client/*.aab
tv_client/*.dex
tv_client/*.class
tv_client/bin/
tv_client/gen/
tv_client/out/
tv_client/.gradle/
tv_client/build/
tv_client/app/build/
tv_client/local.properties
tv_client/proguard/
tv_client/*.log
tv_client/.navigation/
tv_client/captures/
tv_client/*.iml
tv_client/.idea/workspace.xml
tv_client/.idea/tasks.xml
tv_client/.idea/gradle.xml
tv_client/.idea/assetWizardSettings.xml
tv_client/.idea/dictionaries
tv_client/.idea/libraries
tv_client/.idea/caches
tv_client/.idea/modules.xml
tv_client/.idea/navEditor.xml
tv_client/.externalNativeBuild
tv_client/.cxx/
tv_client/freeline.py
tv_client/freeline/
tv_client/freeline_project_description.json
tv_client/fastlane/report.xml
tv_client/fastlane/Preview.html
tv_client/fastlane/screenshots
tv_client/fastlane/test_output
tv_client/fastlane/readme.md
tv_client/vcs.xml
tv_client/lint/intermediates/
tv_client/lint/generated/
tv_client/lint/outputs/
tv_client/lint/tmp/
tv_client/*.hprof
